body {
  background-image: url(../Images/images.jpg);
  background-repeat: repeat-y;
}
h1 {
  color: royalblue;
  font-family: fantasy;
  font-style: italic;
  text-shadow: springgreen;
  text-align: center;
}
p {
  color: lightslategray
  
}
ul {
  color: skyblue;
  font-style: italic;

}
.textbox {
  color: aquamarine;
  border-style: solid;
  padding-left: 400px;
  padding-top: 10px;
  padding-bottom: 30px;

}

